body {
	height:  100vh;
	background-image: linear-gradient(to right top, #051937, #03224c, #022a61, #043377, #0f3b8e);
	font-family: sans-serif;
}


.form {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #845EC2;
	border-radius: 10px;
	box-shadow: 0 3px 10px #232323,
				0 4px 12px #232323,
	 			0 5px 14px #232323;
	background-image: linear-gradient(to right top, #552b8d, #512f9a, #4a34a7, #3f39b5, #2b3fc3);
}

.items {
	padding: 11px;
	width: 320px;
	height: auto;
	display: flex;
	align-items: center;
	position: relative;
	border-bottom: 0.4px solid #222;
	overflow: hidden;
}

.items:last-child {
	border-bottom: none;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
	border: 2px solid #fff;
	width: 20px;
	height: 20px;
	margin-right: 14px;
	opacity: 0.2;
	border-radius: 3px;
	transition: 0.3s all;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

input[type="checkbox"]:hover {
	transform: scale(1.3);
	cursor: pointer;
}

input[type="checkbox"]:hover ~ .fas {
	animation: animation 0.5s linear;
}

input[type="checkbox"]:hover ~ .fab {
	animation: animation 0.5s linear;
}

input[type="checkbox"]:hover ~ .far {
	animation: animation 0.5s linear;
}

input[type="checkbox"]:hover ~ label {
	transform: translate(3px, 0px);
}

input[type="checkbox"]::before {
	content: "\f00c";
	position: absolute;
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	font-style: 8px;
	color: aqua;
	opacity: 0;
}

.items .fas, .fab, .far {
	position: absolute;
	right: 20px;
	font-size: 19px;
	color: #fff;
	opacity: 0.5;
	transition: 2s;
}

.items label {
	color: #fff;
	opacity: 0.2;
	transition: 0.5s;
	position: relative;
}

.items label::before {
	content: "";
	position: absolute;
	width: 200px;
	height: 50px;
	left: -150px;
	top: -14.4px;
	transform: rotate(45deg);
	background-color: rgba(0,0,0,0.2);
	transition: 2s all;
}

input[type="checkbox"]:checked ~ label::before {
	left: 300px;
}


input[type="checkbox"]:checked::before {
	opacity: 1;
}

input[type="checkbox"]:checked {
	opacity: 1;
	border: 2px solid aqua;
	border-radius: 3px;
	box-shadow: 0 0px 8px aqua;
}

input[type="checkbox"]:checked ~ label {
	opacity: 1;
	text-shadow: 0 0 2px #fff;
}

input[type="checkbox"]:checked ~ .fas {
	opacity: 1;
	color: aqua;
	text-shadow: 0 0 4px aqua;
}

input[type="checkbox"]:checked ~ .fab {
	opacity: 1;
	color: aqua;
	text-shadow: 0 0 4px aqua;
}

input[type="checkbox"]:checked ~ .far {
	opacity: 1;
	color: aqua;
	text-shadow: 0 0 4px aqua;
}

input[type="checkbox"]:checked ~ .items label::before {
	left: 120%;
}

@keyframes animation{
	0% {
		opacity: 0;
		transform: scale(0.1);
		transform: rotate(-30deg);
	}

	50% {
		transform: rotate(10deg);
	}

	75% {
		transform: rotate(-10deg);
	}

	100% {
		opacity: 1;
		transform: scale(1.3);
	}
}